<h2>Let's play blackjack!</h2>
<br/>
<h5>Please enter your name below:</h5>
<form action="/new_player" method="post">
  <input type="text" name="player_name"/>
  <br/>
  <input type="submit" class='btn btn-success' value='Play'/>
</form>
